@using CJ.ViewModels

@model List<TicketOverviewViewModel>

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticket System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-center">Dine Tickets</h1>
    <p class="text-center">Dette er en oversigt over alle Tickets. du kan nu vælge at se/redigere dine eksisterende tickets, eller du kan lave en ny.</p>
    <table id="productTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Oprettet</th>
                <th>Titel</th>
                <th>Beskrivelse</th>
                <th>Bruger</th>
                <th>Email</th>
                <th>Supporter</th>
                <th>Status</th>
                <th>Prio</th>
                <th>Kat</th>
                <th>Handling</th> <!-- Additional column for actions like button -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (User.Identity?.Name == item.BrugerEmail)
                {
            <tr>
                <td>@item.TicketID</td>
                <td>@item.Oprettelsestid</td>
                <td>@item.Titel</td>
                <td>@item.Beskrivelse</td>
                <td>@item.BrugerFNavn @item.BrugerLNavn</td>
                <td>@item.BrugerEmail</td>
                <td>@item.SupportFNavn @item.SupportLNavn</td>
                <td>@item.StatusNavn</td>
                <td>@item.PrioritetNavn</td>
                <td>@item.KategoriNavn</td>
                <td><button class="btn btn-primary" onclick="location.href='@Url.Action("Edit_ticket", "User", new { ticket = item.TicketID.ToString()})'">Edit</button></td>
            </tr>
                }
            }
        </tbody>
    </table>


    <!-- Button to create a new ticket -->
    <div class="text-center" style="margin-top: 20px;">
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("new_ticket", "User")'">Ny ticket</button>
        <p class="text-center">tryk her for at lave en ny ticket</p>
    </div>


    @section Scripts {
        <style>
            .no-wrap {
                white-space: nowrap;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(() => {
                $('#productTable').DataTable({
                    "scrollX": true
                });
                $('#productTable th, #productTable td').addClass('no-wrap');
            });
        </script>
    }


</body>
</html>